body{
    background-color: darkmagenta;
}

*{
    font-size: 20px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form{
    width: 500px;
    min-height: 400px;
    margin: 150px auto;
    border: 1px solid red;
    padding: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 30px;
}
.list{
    margin-top: 30px;
}

.item{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background-color: aquamarine;
   padding: 2px 25px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.fix{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
.input__button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input{
    width: 65%;
    height: 30px;
    padding: 2px 12px;
    border-radius: 20px;
}
button{
    width: 40%;
    border-radius: 30px;
}
button:nth-child(2){
    background-color: blue;
}